<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto bg-dark">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/edit" routerLinkActive="active">Edit </a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><strong>Name: </strong>{{name}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"><strong>Dept: </strong>{{department}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"><strong>Email: </strong>{{email}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"><strong>Answerkey Web Portal</strong></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"><strong>Made by our Intern Gaurav Prasad</strong></a>
        </div> -->
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><strong>Logout</strong></a>
      </li>
    </ul>
  
  </div>
</nav>