<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/edit" routerLinkActive="active">Edit </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" (click)="change()" aria-expanded="false">
          User Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           
  <div *ngIf="show" class="detail">
    <table class="table table-striped" id="table">
       <tbody>
          <label for="sel1"><strong>Name:</strong></label>
            <tr>
               
      <td><strong>{{name}}</strong></td>
    </tr></tbody>
    <tbody>
        <label for="sel1"><strong>department:</strong></label>
        <tr>
  <td><strong>{{department}}</strong></td>
  </tr></tbody>
  <tbody>
      <label for="sel1"><strong>Email:</strong></label>
      <tr>
  <td><strong>{{email}}</strong></td>
  </tr></tbody></table>
  </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"><strong>Logout</strong></a>
      </li>
    </ul>
  
  </div>
</nav>