



#logo1{
    height: 100px;
  
}

#logo2{
    height:85px;
    
  
}
#navbar{
    height: 80px;
  background: transparent;
}


#head{
    font-size: 50px;
    font-weight: bold;
    color: #323232;

}

.full{
    background-image: url("new.jpg");
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    background-size: cover;
   
  height: 100%;
}

#button1{
    background: #323232;
    border-radius: 25px;
    width: 50%;
    margin-left: 120px;
}

#button1:hover {
    background: black;
    }
  
