
#logo1{
    height: 100px;
  
}

#logo2{
    height:85px;
    
  
}

#navbar{
    height: 80px;
    background: transparent;
  
}

.full{
    background-image: url("new.jpg");
    background-repeat: no-repeat;
  
    background-size: cover;
    height: 100%;
   
  
}

#signupcard{
    margin-top: -20px;
}

#sel1{
    background: #e5e5e5;
    border: 20px 20px 20px 20px black;
}

#button1{
    margin-left: 140px;
    background-color: #323232;
   width: 50%;
   border-radius: 25px;
   border: 2px solid #323232;
   box-shadow: 0 10px 30px 0px #b2b2b2;
    padding-bottom:5px;
font-size: 5px;
 font-size:15px;
 
}

#button1:hover{
    background-color: black;
    border: 2px solid black;
}


#head{
    font-weight: bold;
    color: #323232;
    font-size: 40px;
    opacity: 0.95;
}


@media (max-width: 768px){
   #button1{
       margin-left: 90px;
   }
   
  }