<app-navbar></app-navbar>

<div class="full">


  
  <div class="container">
<div align="center" id="title">
<h2>Search your Subject</h2>
</div>
  <div class="md-form">
  <strong> <input type="search" [(ngModel)]="searchText" placeholder="Type subject name or code..." id="search"></strong> 
  </div>

  <table class="table table-striped" id="table">
     
        <tbody>
          <tr  *ngFor="let data of dataset | filter: searchText">
    <td><strong>{{data.subject_code}}&emsp;{{data.name}}</strong>
      <td><button class="btn btn-primary btn-sm" id="button1" routerLink="/upload/{{data.subject_code}}" routerLinkActive="active" type="submit">Upload</button> </td>
        <td><button class="btn btn-primary btn-sm" id="button2" routerLink="/update/{{data.subject_code}}" routerLinkActive="active" type="submit">Previous Upload</button> </td>
        <td><button class="btn btn-primary btn-sm" id="button3" routerLink="/feedback/{{data.subject_code}}" routerLinkActive="active" type="submit">Subject Feedback</button> </td>

  </tr></tbody></table>
</div>

</div>




 
