
.container{
    background-color:F7F9F9;
}


#search{
    width: 500px;
    margin-left: 200px;
    margin-top: 50px;
    font-weight: bold;
}

#button1{
  //  margin-left: 300px;
  //  width: 100px;
   border-radius: 25px;
   background-color: #48D1CC;

}
#button2{
 //   margin-left: 30px;
  //  width: 200px;
    border-radius: 25px;
    background-color: #48D1CC;
}

#logo1{
    height: 100px;
  
}

#logo2{
    height:85px;
    
  
}
#navbar{
    height: 80px;
    background: transparent;
  
}


.full{
    background-image: url("whiteblue.jpg");
    background-repeat: no-repeat;
  overflow-y: inherit;
    overflow-x: hidden;
    background-size: cover;
   
  height: 100%;
}



#table{
    border-collapse: collapse;
    border-radius: 30px;
   // overflow: hidden;
    margin-top: 35px;
    font-size: 18px;
    
}

@media (max-width: 768px){
   
    #title{
        font-size: 10px;
    }
   #search{
       margin-left: 20px;
       width: 300px;
   }
   #button1{
       margin-top: 70px;
       margin-left: -100px;
   }
   #button2{
    margin-top: 10px;
    margin-left:15px;
}

   }
   @media (max-width: 1350px) and (min-width: 768px){
    #logo1{
        margin-left: -20px;
    }
    #search{
        margin-left: 200px;
        width: 300px;
    }
    #button1{
        margin-top: 10px;
        margin-left: 30px;
        width: 200px;
    }
    #button2{
     margin-top: -65px;
     margin-left:400px;
     width: 200px;
 }
  }