
#logo1{
    height: 100px;
  
}

#logo2{
    height:85px;
    
  
}
#navbar{
    height: 80px;
    background: transparent;
  
}
#comment{
    border: 2px dotted #48D1CC;
}


.full{
    background-image: url("new.jpg");
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;

    background-size: cover;
   
  height: 100%;
}


