<div class="container">
  
    
    <div class="form-group">
        <label for="sel1">Select exam:</label>
  <select class="form-control"  id="sel1" placeholder="Select Exam" [(ngModel)]="uid">
    <option value="1">CT1</option>
    <option value="2">CT2</option>
    <option value="3">CT3</option>
    <option value="4">UNIVERSITY</option>
  </select>
 <br>

       <input type="submit" class="btn btn-info" (click)="submit()" value="Submit Button">
      
    </div>
  


<div class="item">
    <table style="width:100%">
        <tr>
          <th>Exam</th>
          <th>Questions</th> 
          <th>Answers</th>
        </tr>
          <tr *ngFor="let item of items; let i=index">
            <td>{{i+1}}</td>
            <td>{{item.question}}</td>
            <td>{{item.answer}}</td>
          </tr>
 </table>      
  </div>
</div>