<div class="full">
<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
       <img src="logo.png" id="logo1">
      

      </div>
      <ul class="nav navbar-nav navbar-right">
          <img src="logo2.png" id="logo2">
        </ul>

      
    </div>
  </nav>







    <div align="center" id="title">
            <h2>Check Previous Upload</h2><br>



<div class="container">
  
    
  <div class="form-group">
      <label for="sel1"><strong>Select exam:</strong></label>
<strong><select class="form-control"  id="comment" placeholder="Select Exam" [(ngModel)]="uid">
  <option value="1">CT1</option>
  <option value="2">CT2</option>
  <option value="3">CT3</option>
  <option value="4">UNIVERSITY</option>
</select>
</strong>
<br>

     <input type="submit" class="btn btn-info" (click)="submit()" value="Submit">
    
  </div><br>



<div class="item">
  <table class="table table-striped" id="table" style="width:100%">
      <tr>
        <th>Exam</th>
        <th>Questions</th> 
        <th>Answers</th>
      </tr>
        <tr *ngFor="let item of items; let i=index">
          <td>{{i+1}}</td>
          <td>{{item.question}}</td>
          <td>{{item.answer}}</td>
        </tr>
</table>      
</div>
</div>
</div>