<app-navbar></app-navbar>

<div class="full">
 
  
  
  
  
  <div class="container">
          <div align="center" id="title">
                  <h2>Edit Your Question</h2>
    
      
      <div class="form-group">
              <label for="comment1">Question no. & Exam type</label>
        <strong><textarea class="form-control"  rows="1" id="comment1" placeholder="Question No." [(ngModel)]="id" required></textarea><br></strong> 
      
          <label for="comment2" >:</label>
          <strong><select class="form-control"  id="comment2" placeholder="Select Exam" [(ngModel)]="uid" required>
            <option value="1">CT1</option>
            <option value="2">CT2</option>
            <option value="3">CT3</option>
            <option value="4">UNIVERSITY</option>
    </select></strong>
    <br>
        <label for="comment">Question</label>
        <strong>  <textarea class="form-control"  rows="5" id="comment" placeholder="Write a Question" [(ngModel)]="question"required></textarea><br></strong>
  
        <label for="comment">answers:</label>
        <strong><textarea class="form-control"  rows="5" id="comment" placeholder="Write a answer" [(ngModel)]="answer" required></textarea><br></strong>
  
         <input type="submit" class="btn btn-info" (click)="submit()" value="Submit">
        
      </div>
    
  </div>
  </div>