<app-navbar></app-navbar>
<div class="full">

  <br>
  <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
  <div class="container">
 



<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
  
<button class="btn btn-lg btn-primary btn-block text-uppercase"  id="button1" (click)="subject()" type="submit">Upload
    </button>


<button class="btn btn-lg btn-primary btn-block text-uppercase" id="button2"  type="submit">View All Questions</button>

</div>
<div class="col-sm-2" id="middle">
    <div class="outer">
        <div class="inner"></div>
      </div></div>
</div>
<div>
    
</div>
</div>
</div>

